<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dingding.seckill.dao.BrokerMessageLogMapper">

    <!--    <sql id="key">-->
    <!--        <trim suffixOverrides=",">-->
    <!--            <if test="messageId != null">message_id,</if>-->
    <!--            <if test="message != null">message,</if>-->
    <!--            <if test="tryCount !=null">tryCount,</if>-->
    <!--            <if test="status != null">status,</if>-->
    <!--            <if test="next_retry">next_retry,</if>-->
    <!--            <if test="create_time">create_time,</if>-->
    <!--            <if test="update_time">update_time,</if>-->
    <!--        </trim>-->
    <!--    </sql>-->
    <!--    <sql id="value">-->
    <!--        <if test="messageId != null">#{messageId},</if>-->
    <!--        <if test="message != null">#{message},</if>-->
    <!--        <if test="tryCount != null">#{tryCount},</if>-->
    <!--        <if test="status != null">#{status},</if>-->
    <!--        <if test="nextRetry != null">#{nextRetry},</if>-->
    <!--        <if test="createTime != null">#{createTime},</if>-->
    <!--        <if test="updateTime != null">#{updateTime}</if>-->
    <!--    </sql>-->
    <insert id="insertBrokerMessage" parameterType="com.dingding.seckill.entity.BrokerMessageLog">
        <!--        insert ignore into brokermessage-->
        <!--        (<include refid="key"/>)-->
        <!--        values-->
        <!--        (<include refid="value"/>)-->

        insert ignore into brokermessage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                message_id,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="tryCount != null">
                try_count,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="nextRetry != null">
                next_retry,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="tryCount != null">
                #{tryCount,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="nextRetry != null">
                #{nextRetry,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="changeBrokerMessageLogStatus">
    update brokermessage bm
    set   bm.status = #{status,jdbcType=VARCHAR},
          bm.update_time = #{updateTime, jdbcType=TIMESTAMP}
    where bm.message_id = #{messageId,jdbcType=VARCHAR}
    </update>
</mapper>